@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #D5E1EF;
}

main {
    display: block;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;

    background-color: #FFFFFF;
    border-radius: 20px;
}

#zqrcode {
    display: block;
    height: 60%;

    background: #3684FE url(../images/image-qr-code.png) no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 10px;
}

#ztext {
    height: 40%;
    margin: 30px 10px 20px 10px;
}

#ztext h1 {
    margin-bottom: 20px;
    color: #2B3348;
    font-size: 1.5em;
    text-align: center;
}

#ztext p {
    color: gray;
    text-align: center;
}

.attribution {
    height: 10%;
    margin: 2px;
}
.attribution {
    color: gray;
    font-size: 0.6em;
}
.attribution a {
    color: gray;
}